# Include core files
include LICENSE
include README.md
include setup.py
include requirements.txt

# Exclude folders not needed in PyPi package
prune pipes
prune snowflake
exclude bobsled/SVAM_Internal_Bobsled.code-workspace